body { background-color: bisque; }
h3 { color: blue; }
h4 { font-weight: bold; }
h4#lab-title { font-style: italic; font-weight: normal; }
#text-area { resize: none; }
#histogram { transform: scaleY(-1); }