h1 { 
	color: blue; 
	text-align: center; 
}

h2 { 
	color: black;
	font-size: 2em; 
	font-weight: bold; 
}

h2#sub { 
	color: black; 
	font-size: x-5large; 
}

h3 { 
	font-style: italic;
	font-weight: normal; 
}

h3#lab-title { 
	font-style: italic; 
	font-weight: normal; 
}

p {
  color: chocolate;
}
/* 
div.bar {
	display: inline-block;
	width: 20px;
	height: 75px; 
	margin-right: 5px;
	background-color: teal;
}

.axis path,
.axis line { 
	stroke: teal; 
	shape-rendering: crispEdges; 
}

.axis text { 
	font-family: Optima, Futura, sans-serif; 
	font-weight: bold; 
	font-size: 14px; 
	fill: teal; 
}
 */
.line {
	fill: none;
	stroke: teal;
	stroke-width: 0.5;
}

.container {
	border: 2px solid black;
	border-radius: 10px;
	margin: auto;
	padding: 20px;
	width:L 95%;
}