h2 { 
  color: crimson; 
  font-size: 2em; 
  font-weight: bold; 
}

h2#sub { 
  color: black; 
  font-size: x-large; 
}

h3 { 
  color: blue; 
}

h4 { 
  font-weight: bold; 
}

h4#lab-title { 
  font-style: italic; 
  font-weight: normal; 
}

svg { 
  width: 500px;
  height: 800px;
}

.container {
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 80%;
}

.col-left {
  float: left;
  width: 70%;
}

.feature {
  background-color: #ccc;
  cursor: pointer;
}

.active {
  background-color: orange;
}